@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
    @apply select-none;
}

.mono {
    font-family: 'Ubuntu Mono', monospace;

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.element-input {
    @apply bg-neutral-200 border border-neutral-300 px-2 py-1 rounded-xl font-semibold;
}

.elements-list:hover > .element-card:not(:hover) {
    @apply opacity-50;
}

.element-card {
    @apply transition-all ;
}